body {font-family: Helvetica;
font-size: 22px;
color: seashell;
background-color: black;
opacity: 0.9;
text-align: center;
}

header {
  display: flex;
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 1;
}

header div {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 69px;
  flex-basis: 100%;
}

.logo {
justify-content: flex-start;
}

.nav {
  justify-content: flex-end;
}

nav {
  display: flex;
  align-items: center;
}

nav span {
  padding: 20px 10px;
  }

img {
  padding-left: 10px;
}

a {
  color: seashell;
}

.ourmission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 70px;
  padding-top: 70px;
  height: 700px;
  width: 1200px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  margin: 0 auto;
}

#subtitles h2 {
  padding: 10px;
  background-color: black;
  margin: 0;
}

#subtitles h4 {
  padding: 10px;
  background-color: black;
  margin: 0;
}

.block {
  display: block;
}

.tea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0 auto;
}

.teaimage img {
  width: 300px;
  height: 200px;
  display: block;
}

.teaimage span {
  padding: 5px;
  font-size: 22px;
  font-weight: bold;
  display: block;
}


#store {
  padding-top: 70px;
}


.blackbox {
  width: 300px;
  height: 300px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  margin: 5px 20px;
  background-color: black;
}

.blackbox span {
  display: inline-block;
  font-size: 22px;
  margin: 22px 0;
}

.blackbox h2 {
  padding: 10px;
  display: block;
}

#locations {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 570px;
}

#locations h2 {
  display:inline-block;
  border-color: none;
  padding-top: 70px;
}

#address {
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact {
  height: 200px;

}

#contact h2 {
  padding: 10px;
}

#contact h5 {
  font-size: 20px;
}

#copyright {
  text-align: left;
  font-size: 20px;
}

footer {
  display: block;
}
